recursive-include audiotools *
recursive-include docs *
recursive-include src *
recursive-include test *
include audiotools-config
include cd2track
include cdinfo
include cdplay
include COPYING
include coverdump
include coverview
include dvda2track
include dvdainfo
include INSTALL
include Makefile
include setup.py
include TODO
include track2cd
include track2track
include trackcat
include trackcmp
include trackinfo
include tracklength
include tracklint
include trackplay
include trackrename
include tracksplit
include tracktag
include trackverify
